@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: rgb(17,17,17);
    color: #f3f4f6;
    scroll-behavior: smooth;  
    overflow: scroll; 
}

::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 40px;
    user-select: none;
    font-size: 0.74rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -30px;
    margin-right: 1200px;
}

#logoIMG {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.header h2 {
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0px 20px;
    margin-top: -30px;
    border-bottom: 1px solid #e5e7eb18;
}

.nav-links {
    display: flex;
    gap: 20px; 
    margin-top: -65px;
    margin-right: auto; 
    padding-left: 1550px;
}

.nav-links a {
    color: #ffffff;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}


.bar-diverder {
    width: 860px;
    height: 1px;
    background-color: #e5e7eb18;
}



.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    margin-top: 35px;
    margin-left: -420px;
}

.intro-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 55px;
    margin-left: 280px;
}

.intro-description {
    font-size: 1.0rem;
    font-weight: 100;
    max-width: 810px;
    margin-top: 30px;
    margin-left: 280px;
    color: #c1c5cc;
}

.intro-description span {
    display: block;
    margin-top: 2px;
}